.alert {
  position: relative;
  width: 300px;
  height: 100px;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success, .alert-notice {
  color: white;
  font-size: 1.3rem;
  background-color: rgba(0, 250, 0, 0.3);
  border-color: #82ee82;
}

.alert-error, .alert-alert {
  color: white;
  font-size: 1.3rem;
  background-color: rgba(250, 0, 0, 0.3);
  border-color: #ee4201;
}